@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio:1.5) {
  .border-1px {
    &::before {
      -webkit-transform: scaleY(0.7);
      transform: scaleY(0.7);
    }
  }
}
@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio:2) {
  .border-1px {
    &::before {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }
}
.clearfix:after{
  content: '';
  display:block;
  height: 0px;
  visibility: hidden;
  clear: both;
}
// 带有线条的标题
.line-tt{
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-bottom: 18px;
  .line{
    flex: 1 1 auto;
    align-self: center;
    display: block;
    border-bottom:1px solid rgba(255, 255, 255, .2);
  }
  .tt-content{
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
  }
}